// __ Kasa variables __

// Font weight - size
$font-weight-lg: 700; // font-bold
$font-weight-md: 500; // font-medium
$font-weight-sm: 400; // font-normal

$font-size-desktop-xxl: 18rem; // 288px text-5xl
$font-size-desktop-xl: 3rem; // 48px text-3xl
$font-size-desktop-lg: 2.25rem; // 36px text-2xl
$font-size-desktop-md: 1.5rem; // 24px text-xl
$font-size-desktop-sm: 1.125rem; // 18px texy-lg
$font-size-desktop-xs: 0.875rem; // 14px text-base

$font-size-mobile-xxl: 6rem; // 96px text-4xl
$font-size-mobile-xl: 1.5rem; // 24px text-xl
$font-size-mobile-lg: 1.125rem; // 18px text-lg
$font-size-mobile-md: 0.875rem; // 14px text-base
$font-size-mobile-sm: 0.75rem; // 12px text-sm
$font-size-mobile-xs: 0.625rem; // 10px text-xs

// Colors
$primary: #FF6060;
$gray-300: #F6F6F6;
$gray-400: #E3E3E3;
$gray-500: #C4C4C4;

// Dark mode colors
$gray-600: #5C5C5C;
$gray-700: #474747;
$gray-800: #1E1E1E;
$gray-900: #121212;

$black: #000000;
$white: #FFFFFF;

// Media queries
$tablet-breakpoint: 768px; // md
$desktop-breakpoint: 1024px; // lg

// Border-radius
$border-radius-lg: 25px; // rounded-3xl
$border-radius-sm: 5px; // rounded-md